.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  border-top: 1px solid #dedede;
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
